<!DOCTYPE html>
<html>
  <head>
      <% include partials/template/head.ejs %>
    </head>
  <body>
      <div class="container" role="main">
        <% include partials/content/camera.ejs %>
        <% include partials/content/remote.ejs %>
        <% include partials/content/address-bar.ejs %>
        <% include partials/content/share.ejs %>
        <% include partials/content/thumbnails.ejs %>
        <% include partials/content/playback.ejs %>
        <% include partials/content/controls.ejs %>
      </div>
  </body>
</html>
