<title><%= title %></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<link rel="stylesheet" href="/css/style.css" />
<script src="http://localhost:8080/socket.io/socket.io.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/json2.js"></script>
<script src="/js/underscore-min.js"></script>
<script src="/js/backbone-min.js"></script>
<script src="/js/app.min.js"></script>