<div class="menu" role="menu">
	<button id="btn-record" class="btn-record"></button>
	<button id="btn-rewind" class="btn-rewind"></button>
    <button id="btn-cancel" class="btn-cancel"></button>
</div>